[submodule "backends/cups"]
	path = backends/cups
	url = https://github.com/NilanjanaLodh/PrintDialog_Backend
[submodule "backends/gcp"]
	path = backends/gcp
	url = https://github.com/dracarys09/gcp-backend
